<!doctype html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie8"><![endif]-->
<!--[if IE 9 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="{{ direction }}" lang="{{ lang }}">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="{{ base }}"/>
    {% if description %}
        <meta name="description" content="{{ description }}"/>
    {% endif %}
    {% if keywords %}
        <meta name="keywords" content="{{ keywords }}" />
    {% endif %}
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:type" content="article"/>
    <meta property="og:url" content="{{ base }}" />
    {% if logo %}
        <meta property="og:image" content="{{ logo }}" />
    {% endif %}
    {% if description %}
        <meta property="og:description" content="{{ description }}" />
    {% endif %}
    <link href="catalog/view/javascript/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
    <link href="catalog/view/javascript/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all"/>
    {% for style in styles %}
        <link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}"/>
    {% endfor %}
    <link href="catalog/view/theme/flamingrage/stylesheet/style.css" rel="stylesheet" type="text/css"/>
    {% for script in scripts %}
        <script async src="{{ script }}" type="text/javascript"></script>
    {% endfor %}
    {% for link in links %}
        <link href="{{ link.href }}" rel="{{ link.rel }}"/>
    {% endfor %}

    <title>{{ title }}</title>
    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    {% for analytic in analytics %}
        {{ analytic }}
    {% endfor %}
</head>
<body>
<div class="background-header">
    <div class="container">
        <img class="img-responsive img-centrar" alt="header" src={{ img_header }}>
        <img class="img-responsive img-centrar title-logo" alt="titulo" src={{ title_img }}>
    </div>
    <nav id="drawer">
        <ul id="cssmenu">
           <!-- <li class=" pull-left nav__item"><a>IDIOMAS</a></li>-->

            <li class="nav__item"><a href="{{ home }}">{{ text_home }}</a></li>
            {% for category in categories %}
                <li class="nav__item"><a href="{{ category.href }}">{{ category.name }}</a></li>
            {% endfor %}

            <li class="pull-right nav__item"><a href="{{ login }}">{{ text_login }}</a></li>

        </ul>
        {# {{ language }}
         <div id="top-links" class="nav pull-right">
             <ul class="list-inline">
                 <li class="dropdown"><a href="{{ account }}" title="{{ text_account }}" class="dropdown-toggle"
                                         data-toggle="dropdown"><i class="fa fa-user"></i> <span
                                 class="hidden-xs hidden-sm hidden-md">{{ text_account }}</span> <span
                                 class="caret"></span></a>
                     <ul class="dropdown-menu dropdown-menu-right">
                         {% if logged %}
                             <li><a href="{{ account }}">{{ text_account }}</a></li>
                             <li><a href="{{ order }}">{{ text_order }}</a></li>
                             <li><a href="{{ transaction }}">{{ text_transaction }}</a></li>
                             <li><a href="{{ download }}">{{ text_download }}</a></li>
                             <li><a href="{{ logout }}">{{ text_logout }}</a></li>
                         {% else %}
                             <li><a href="{{ register }}">{{ text_register }}</a></li>
                             <li><a href="{{ login }}">{{ text_login }}</a></li>
                         {% endif %}
                     </ul>
                 </li>
             </ul>
         </div>#}
    </nav>
</div>
<!--<script type="text/javascript" src="Js/snow.js"></script>-->
<header class="text-center">

    <svg id="menuIcon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#ffffff">
        <path d="M2 6h20v3H2zm0 5h20v3H2zm0 5h20v3H2z"/>
    </svg>

</header>

