{{ header }}
{{ content_top }}
<main id="common-home" class="container">


    <!-- ULTIMOS CAMBIOS -->

    <section class="last-posts row">
        <header><h2 class="text-center">{{ text_article }}</h2></header>
        {% set i = 0 %}
        {% for category in categories %}
            {% if i < 6 %}
            {% if i%2 == 0 %}
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="img-thumbnail-1">
                        <img class="img-responsive"
                             src="{{ category.image }}">
                        <div class="caption text-center">
                            {{ category.description }}
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="img-thumbnail-2">
                        <img class="img-responsive"
                             src="{{ category.image }}">
                        <div class="caption text-center">
                            {{ category.description }}
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endif %}

            {% set i = i + 1 %}
        {% endfor %}
    </section>


    <!-- END ULTIMOS CAMBIOS -->

    <!-- LIST VIDEOS -->

    <section class="row">
        <header><h2 class="text-center">{{ text_films }}</h2></header>
        <hr>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="img-thumbnail">
                <iframe src="https://www.youtube.com/embed/9SygUTwLeAM" allowfullscreen frameborder="0"></iframe>
                <div class="caption text-center">
                    <p>League of Legends Dominio</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="img-thumbnail">
                <iframe src="https://www.youtube.com/embed/CLjXHuLGDiE" allowfullscreen frameborder="0"></iframe>
                <div class="caption text-center">
                    <p> League of Legends Leonas vs Kassadins</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="img-thumbnail">
                <iframe src="https://www.youtube.com/embed/K0LsMgjVvOo" allowfullscreen frameborder="0"></iframe>
                <div class="caption text-center">
                    <p> S4 Campeando</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="img-thumbnail">
                <iframe src="https://www.youtube.com/embed/Ag-ccTN440M" allowfullscreen frameborder="0"></iframe>
                <div class="caption text-center">
                    <p> Nostale los Parguelas</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="img-thumbnail">
                <iframe src="https://www.youtube.com/embed/E-O1Vel4NPo" allowfullscreen frameborder="0"></iframe>
                <div class="caption text-center">
                    <p>League of Legends ALL mid</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="img-thumbnail">
                <iframe src="https://www.youtube.com/embed/YvrAggneFkU" frameborder="0" allowfullscreen></iframe>
                <div class="caption text-center">
                    <p> Guild Wars 2 Raid</p>
                </div>
            </div>
        </div>
    </section>

    <!-- END LIST VIDEOS -->
<section class="last-change">
    <h2 class="text-center">{{ text_last_change }}</h2>
    {{ content_bottom }}
</section>

</main>
{{ footer }}
</body>